{% extends "base.html" %}

{% load static %}

{% block page-header %}
    
{% endblock %}
{% block content %}

<div class="container main-container" >
    
    <!-- Hero Image Section -->
    {% include "components/hero-image.html" %}

    <!-- Inspirational Section -->
    {% include "components/inspirational-section.html" %}

    <!-- Subscribe to Newsletter -->
    {% include "components/subscribe-newsletter.html" %}

</div>

{% endblock %}

{% block postloadjs %}
  <!-- Mailchimp Scripts -->
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  </script>

{% endblock %}