<div class="table-responsive rounded d-none d-md-block">
    <table class="table table-sm table-borderless">
        <thead class="text-wine">
            <tr>
                <th scope="col">Product Info</th>
                <th scope="col"></th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>

        {% for item in basket_items %}
        <tr>
            <td class="p-3 w-25">
                {% include "basket/product-image.html" %}
            </td>
            <td class="py-3 ">
                {% include "basket/product-info.html" %}
            </td>
            <td class="py-3">
                <p class="my-0">€{{ item.product.price }}</p>
            </td>
            <td class="py-3">
                <p class="my-0">{{ item.quantity }}</p>
            </td>
            <td class="py-3">
                <p class="my-0">€{{ item.line_total }}</p>
            </td>
            <td class="py-3 float-left " style="width:3rem;">
                <p class="my-0">
                    <a class="remove-item text-wine float-right" id="remove_{{ item.item_id }}"><i class="fa fa-times"></i></a>
                </p>
            </td>
        </tr>
        {% endfor %}
        <tr >
            <td colspan="5" class="pt-5 text-right">
                <h6 class="small-font"><strong>Basket Total: ${{ total|floatformat:2 }}</strong></h6>
                <h6 class="small-font">Delivery: ${{ delivery|floatformat:2 }}</h6>
                <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
            </td>
        </tr>
        <tr>
            <td colspan="5" class="text-right">
                <a href="{% url 'products' %}" class="btn btn-outline-wine rounded-0 btn-lg">
                    <span>Back to Shop</span>
                </a>
                <a href="" class="btn btn-wine rounded-0 btn-lg">
                    <span>Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </td>
        </tr>
    </table>
</div>