@import url('https://fonts.googleapis.com/css?family=Merienda+One&Open+Sans&display=swap');

:root {
    --wine: #9B2242;
    --cream: #fff4b9;
    --green: #1A9C75;
    --grey: #2A2A2A;
    --white: #fff;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.6rem;
}

.logo-font {
    font-family: 'Merienda One', 'Brush Script MT', cursive;
}

.small-font {
    font-size: 1.5rem;
}

.normal-font-size {
    font-size: 2rem;
}

.social-media {
    font-size: 2rem;
    margin: 1rem;
}

.social-media a {
    color: var(--wine)
}

.tiny-font {
    font-size: .5rem;
}

.wine-bg-color {
    background-color: var(--wine);
}

.wine-border-color {
    border-color: var(--wine)
}

.text-wine {
    color: var(--wine);
}

.text-cream {
    color: var(--cream) !important;
}

.text-white {
    color: var(--white) !important;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.main-container {
    padding: 0;
    margin-top: 3rem;
}

/* Hero Image */
/* Based on code from Love Running project */
/* Creating one div with a background image inside a second div of the same size with an overflow value of hidden and creating an animation 
/* to scale up the imaged div gives the illusion of zooming in when loaded */

#hero-outer {
    height: 40rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 0;

}

#hero-image {
    height: 40rem;
    width: 100%;
    background: url("https://res.cloudinary.com/efcloud12/image/upload/v1658390546/cheese-wine-smaller2_egxmky.jpg") no-repeat center center;
    background-size: cover;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* End Hero Image */

/* Styling the bootstrap navbar toggler icon */
/* Set the border color */

.custom-toggler.navbar-toggler {
    border-color: var(--cream);
}

/* https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */
/* Setting the stroke to green using rgb values (0, 128, 0) */

/* .cream-custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 244, 185, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}  */

.nav-bar-margin {
    margin-top: 7rem;
}

.nav-link {
    color: var(--white) !important;
    font-size: 2rem;
}

.navbar-text {
    color: var(--white) !important;
    font-size: 1.5rem;
}

.header-container {
    padding-top: 7rem;
    font-size: 1.5rem;
    padding-bottom: 5rem;
}

/* Mailchimp */

#mc_embed_signup {
    background: #fff;
    clear: left;
    width: 600px;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 75px;
    z-index: 999999999999;
}

.custom-toast {
    overflow: visible; 
    font-size:1.6rem;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn {
    font-size: 1.6rem;
}
.form-control {
    font-size: 1.5rem;
}

.small-image {
    width: 20rem;
}

a.text-primary:focus, 
a.text-primary:hover {
    color:var(--green)!important;
}

a.remove-item:focus,
a.remove-item:hover {
    color:var(--wine)!important;
    font-size: 1.6rem;
}

a.text-wine:focus, 
a.text-wine:hover {
    color:var(--grey)!important;
}


.quantity-label {
    margin-top:.4rem;
}

.quantity-padding {
    padding-top: .6rem!important;
}

.font-large {
    font-size: 3rem;
}

.dropdown-menu {
    font-size: 1.6rem;
    /* right: -70px; */
    background-color: var(--wine);
    left:auto;
    margin-top:0;

}

.dropdown-item {
    
    color: var(--white)

}

@media screen and (min-width: 1000px) {

    .social-media {
        font-size: 2rem;
        margin: 0;
    }

    .navbar-text {
        padding-left: 2rem;
    }

    .dropdown-menu {
        right: -12px;
    
    }
}

@media screen and (min-width: 768px) {
    .toggler-margin {
        margin-left: 10rem;
    }

    .small-image {
        width: 10rem;
    }

    .font-large {
        font-size: 2.5rem;
    }
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: var(--grey);
}

.allauth-form-inner-content {
    border-color: var(--wine);
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: var(--grey);
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: var(--cream);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--wine);
    border: 1px solid var(--wine);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: var(--white);
    background-color: var(--grey);
    border-color: var(--grey);
}

.allauth-form-inner-content a {
    color: var(--wine);
}

.btn-wine {
    background: var(--wine);
    color: white;
}

.btn-outline-wine {
    background: white;
    color: var(--wine) !important;
    /* use important to overrode link colours for <a> elements */
    border: 1px solid var(--wine);
}