<!-- Inspirational Section -->

<section>
    <!-- Row of large text headings -->
    <div class="row ">
        <div class="col-12 col-sm-4 my-auto text-center ">
            <h1 class="logo-font text-wine">
                Love Wine? 
            </h1>
        </div>
        <div class="col-12 col-sm-4 my-auto text-center">
            <h1 class="logo-font text-wine">
                Love Cheese? 
            </h1>
        </div>
        <div class="col-12 col-sm-4 my-auto text-center">
            <h1 class="logo-font text-wine">
                Love both?
            </h1>
        </div>
    </div>
    <!-- Row of inpirational text -->
    <div class="row">
        <div class="col">
            <div class="card-body small-font">
        
                <p class="my-5">
                    Whether you are planning a party or looking to expand your palette, we have something to satisfy.
                </p>
                <p class="my-5">
                    We stock exclusive wines from all over the world, bought in bulk so we can offer you excellent value for money and choice.
                </p>
                <p class="my-5">
                    We also specialise in fine cheeses and offer a wide variety for a very fine price.
                </p>
                <p class="my-5">
                    However, if what you really want is to experiment with different wines and cheeses then why not try our exclusive deals 
                    which pair exactly the right wine with the right cheese.
                </p>
                <p class="my-5">
                    There are many varieties to choose from and perhaps you would like to sign up for our newsletter below for more great ideas.
                </p>
    
            </div>
        </div>
    </div>