{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{%  endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr class="wine-border-color">
            <h1 class="logo-font mb-4 font-large">Product Administration</h1>
            <h2 class="text-muted">Add an Item</h2>
            <hr class="wine-border-color">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div id="cheeseDiv" class="mt-5 mb-5">
                    {% for field in cheese_form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="wineDiv" class="mt-5 mb-5">
                    {% for field in wine_form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="dealDiv" class="mt-5 mb-5">
                    {% for field in deal_form %}
                        {{ field }}
                    {% endfor %}
                </div>
                <div class="text-right">
                    <a class="btn btn-outline-wine rounded-0" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-wine rounded-0" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'products/js/products.js' %}">
    </script>
{% endblock %}