<!-- Footer -->
<footer class="footer mt-auto py-3 dark-bg">
    <div class="container">
        <!-- Wine separator above footer -->
        <hr class="wine-border-color">

        <div class="row">

            <!-- Address,phone number, email column -->
            <div class="col-12 d-lg-none small-font " >
                <span>15 Main St, Middleton, Co. Cork</span>
            </div>
            <div class="col-12 d-lg-none small-font" >
                <span>01 256 5674</span>
            </div>
            <div class="col-12 d-lg-none small-font" >
                <span>thecheeseandwineboutique@gmail.com</span>
            </div>

            <div class="d-none d-lg-inline col-lg-8 small-font " >
                <span>15 Main St, Middleton, Co. Cork | </span>
                <span>01 256 5674 | </span>
                <span>thecheeseandwineboutique@gmail.com</span>
            </div>

            <!-- Site name -->
            <div class="d-none d-lg-inline col-lg-4 text-center normal-font-size text-wine">
                <span><strong>The Cheese and Wine Boutique</strong></span>
            </div>

            <!-- Social Media icons -->
            <div class=" d-lg-none col-12 col-lg-6 text-lg-center social-media">
                <a href="https://facebook.com" target="_blank" rel="noopener" class="sociallink"
                        aria-label="Visit our facebook page (opens in a new tab)">
                        <i class="fab fa-facebook-square ms-3"></i>
                </a>
            </div>

            <!-- Larger screen -->
            <!-- Copyright column -->
            <div class="d-none d-sm-inline col-lg-9 small-font text-lg-left" >
                <span>Made for educational purposes only.</span>
            </div>

            <!-- Social Media icons for desktop -->
            <div class=" d-none d-lg-inline col-lg-3 social-media ">
                <a href="https://www.facebook.com/The-Cheese-and-Wine-Boutique-111504058304120" target="_blank" rel="noopener" class="sociallink"
                        aria-label="Visit our facebook page (opens in a new tab)">
                        <i class="fab fa-facebook-square ms-3"></i>
                </a>
            </div>

            <!-- Phone screen -->
            <div class="col-12 d-sm-none small-font" >
                <span>Made for educational purposes only.</span>
            </div>
            
        </div>
    </div>
    
</footer>