<header class="container fixed-top wine-bg-color">
    <div class="row">
      <div class="col-9  my-auto py-1 py-0  text-md-left">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
          <h1 class="logo-font text-cream my-0"><strong>The Cheese and Wine Boutique</strong></h1>
        </a>
      </div>
      <div class="col-2 " >
        <button class="navbar-toggler cream-custom-toggler toggler-margin" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      
    </div>
  </header>