<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <!-- <button class="navbar-toggler cream-custom-toggler toggler-margin" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
        <!-- Nav bar -->
        <div class="collapse navbar-collapse normal-font-size " id="navbarText" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-bar-margin">

                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                
                {% if user.is_authenticated %}

                <!-- Logout -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>

                {% else %}

                <!-- Register -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                </li>
                <!-- Login -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    
                </li>
                {% endif %}
            </ul>

            {% if user.is_authenticated %}
            <!-- Username -->
            <span class="navbar-text text-muted">
                {{ user.username }}
            </span>
            {% endif %}
            
        </div>
    </div>
</nav>