<header>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container fixed-top wine-bg-color">
            <div class="row">
                <!-- Logo -->
                <div class="col-9 col-lg-7 my-auto py-1 py-0 text-md-left">
                    <a class="nav-link main-logo-link" href="{% url 'home' %}">
                        <h1 class=" text-cream logo-font "><strong>The Cheese and Wine Boutique</strong></h1>
                    </a>
                </div>
                <!-- Toggler -->
                <div class="col-3 d-lg-none">
                    <button class="navbar-toggler cream-custom-toggler custom-toggler toggler-margin" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    
                </div>
                <!-- Nav bar -->
                <div class="col-lg-2">
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 small-font ">
            
                            <!-- Home -->
                            <li class="nav-item">
                                <a class="nav-link active " aria-current="page" href="{% url 'home' %}">Home</a>
                            </li>
                            
                            <!-- Shop -->
                            <li class="nav-item">
                                <a class="nav-link active " aria-current="page" href="{% url 'products' %}">Shop</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- User Profile -->
                <div class="col-6 col-lg-1 ">
                    <ul class="list-inline list-unstyled text-center text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a href="#" class="text-black nav-link" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                              </div>
                            </a>
                            <div class="dropdown-menu border-0 wine-bg-color" aria-labelledby="user-options">
                              {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                  <a href="{% url 'add_product' %}" class="dropdown-item">Product Administration</a>
                                {% endif %}
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                              {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                              {% endif %}
                                <!-- Username -->
                                <span class="dropdown-item">
                                    {{ user.username }}
                                </span>
                            </div>
                          </li>
                    </ul>
                </div>

                <!-- Shopping basket -->
                <div class="col-6 col-lg-2 pr-0">
                    <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-wine{% endif %} nav-link d-block" href="{% url 'view_basket' %}">
                        <div>
                            <p class="my-0">
                                <i class="fas fa-shopping-basket fa-lg"></i>
                                {% if total %}
                                    €{{ total|floatformat:2 }}
                                {% else %}
                                    €0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
